$icon-path: '../icons' !default;

$sidebar-width: 360px;

$color-white: #fff;
$color-black: #000;
$color-grey-50: #F6F6F6;
$color-grey-100: #d1d1d1;
$color-grey-200: #cacaca;
$color-grey-500: #656565;
$color-grey-600: #060b26;
$color-blue-light: #45ade8;
$color-blue-light-tint: #45ADE833;
$color-blue-dark: #00627a;
$color-green: #007a22;
